{% extends 'base.html.twig' %}
{#je vais chercher se qui est contenue dans le bloc fos_user_content qui est dans
vendor/friendsofsymfony/views#}
 {% block content %}
     <div class="section">
         {% block fos_user_content %}{% endblock %}
     </div>

 {% endblock %}

