/*-----------Bouton-----------------------*/
.button-success {
  background: rgb(28, 184, 65); /* this is a green */
  color: white;
}
.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
  color: white;

}
.pure-button{
  margin-bottom: 10px;
  color: white;
}
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
