{% extends "base.html.twig" %}
{% block title %}List de Livres{% endblock %}

{% block content %}
    <main>
        <section class="section">
            {% for element in books %}
                <div class="card">
                    <h1>Titre : {{ element.title }}</h1>
                    <h2>Genre : {{ element.genre }}</h2>
                    <h3>Nombre de pages : {{ element.numberOfPages}}</h3>
                    <p>Resumer :<br>{{ element.summary }}</p>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}